#drag {
  -webkit-app-region: drag;
}

#no-drag {
  -webkit-app-region: no-drag;
}


.splash-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projectCoverIcon {
  position: absolute;
  width: 50vh;
  height: 50vh;
  max-width: 50vh;
  max-height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
